# Dependencies
node_modules/
operator/node_modules/
react-frontend/node_modules/

# Build/compile artifacts
cache/
out/
operator/dist/
broadcast/

# Runtime artifacts
*.log
*.pid

# Docs
docs/

# Dotenv file
.env

# Ignore lockfiles that may be generated locally for alternative package managers
pnpm-lock.yaml
